@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #837cfc;
  --secondary-color: #393E46;
  --tertiary-color: #00ADB5;
  --fourth-color: #EEEEEE;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}


body {
  background-color: white;
}

.landing-section{
  margin: 0px;
  padding: 0px;
  background-color: #FFF9FA;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2432%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M52.64 -20L78.62 -5L78.62 25L52.64 40L26.66 25L26.66 -5zM78.62 25L104.61 40L104.61 70L78.62 85L52.64 70L52.64 40zM78.62 115L104.61 130L104.61 160L78.62 175L52.64 160L52.64 130zM78.62 205L104.61 220L104.61 250L78.62 265L52.64 250L52.64 220zM130.59 25L156.57 40L156.57 70L130.59 85L104.61 70L104.61 40zM104.61 160L130.59 175L130.59 205L104.61 220L78.62 205L78.62 175zM130.59 205L156.57 220L156.57 250L130.59 265L104.61 250L104.61 220zM182.55 25L208.53 40L208.53 70L182.55 85L156.57 70L156.57 40zM156.57 160L182.55 175L182.55 205L156.57 220L130.59 205L130.59 175zM156.57 250L182.55 265L182.55 295L156.57 310L130.59 295L130.59 265zM182.55 385L208.53 400L208.53 430L182.55 445L156.57 430L156.57 400zM156.57 520L182.55 535L182.55 565L156.57 580L130.59 565L130.59 535zM234.51 25L260.5 40L260.5 70L234.51 85L208.53 70L208.53 40zM234.51 295L260.5 310L260.5 340L234.51 355L208.53 340L208.53 310zM208.53 340L234.51 355L234.51 385L208.53 400L182.55 385L182.55 355zM286.48 385L312.46 400L312.46 430L286.48 445L260.5 430L260.5 400zM312.46 160L338.44 175L338.44 205L312.46 220L286.48 205L286.48 175zM338.44 385L364.42 400L364.42 430L338.44 445L312.46 430L312.46 400zM312.46 430L338.44 445L338.44 475L312.46 490L286.48 475L286.48 445zM364.42 -20L390.4 -5L390.4 25L364.42 40L338.44 25L338.44 -5zM364.42 70L390.4 85L390.4 115L364.42 130L338.44 115L338.44 85zM390.4 115L416.38 130L416.38 160L390.4 175L364.42 160L364.42 130zM364.42 160L390.4 175L390.4 205L364.42 220L338.44 205L338.44 175zM364.42 250L390.4 265L390.4 295L364.42 310L338.44 295L338.44 265zM442.37 205L468.35 220L468.35 250L442.37 265L416.38 250L416.38 220zM442.37 385L468.35 400L468.35 430L442.37 445L416.38 430L416.38 400zM416.38 430L442.37 445L442.37 475L416.38 490L390.4 475L390.4 445zM546.29 205L572.27 220L572.27 250L546.29 265L520.31 250L520.31 220zM572.27 -20L598.25 -5L598.25 25L572.27 40L546.29 25L546.29 -5zM598.25 25L624.24 40L624.24 70L598.25 85L572.27 70L572.27 40zM572.27 160L598.25 175L598.25 205L572.27 220L546.29 205L546.29 175zM624.24 -20L650.22 -5L650.22 25L624.24 40L598.25 25L598.25 -5zM650.22 25L676.2 40L676.2 70L650.22 85L624.24 70L624.24 40zM624.24 160L650.22 175L650.22 205L624.24 220L598.25 205L598.25 175zM650.22 385L676.2 400L676.2 430L650.22 445L624.24 430L624.24 400zM676.2 -20L702.18 -5L702.18 25L676.2 40L650.22 25L650.22 -5zM754.14 295L780.12 310L780.12 340L754.14 355L728.16 340L728.16 310zM754.14 385L780.12 400L780.12 430L754.14 445L728.16 430L728.16 400zM728.16 430L754.14 445L754.14 475L728.16 490L702.18 475L702.18 445zM728.16 520L754.14 535L754.14 565L728.16 580L702.18 565L702.18 535zM780.13 70L806.11 85L806.11 115L780.13 130L754.14 115L754.14 85zM780.13 160L806.11 175L806.11 205L780.13 220L754.14 205L754.14 175zM806.11 205L832.09 220L832.09 250L806.11 265L780.13 250L780.13 220zM806.11 295L832.09 310L832.09 340L806.11 355L780.13 340L780.13 310zM780.13 430L806.11 445L806.11 475L780.13 490L754.14 475L754.14 445zM832.09 70L858.07 85L858.07 115L832.09 130L806.11 115L806.11 85zM832.09 250L858.07 265L858.07 295L832.09 310L806.11 295L806.11 265zM884.05 70L910.03 85L910.03 115L884.05 130L858.07 115L858.07 85zM910.03 115L936.01 130L936.01 160L910.03 175L884.05 160L884.05 130zM910.03 295L936.01 310L936.01 340L910.03 355L884.05 340L884.05 310zM910.03 385L936.01 400L936.01 430L910.03 445L884.05 430L884.05 400zM936.01 -20L962 -5L962 25L936.01 40L910.03 25L910.03 -5zM936.01 250L962 265L962 295L936.01 310L910.03 295L910.03 265zM936.01 430L962 445L962 475L936.01 490L910.03 475L910.03 445zM987.98 520L1013.96 535L1013.96 565L987.98 580L962 565L962 535zM1065.92 475L1091.9 490L1091.9 520L1065.92 535L1039.94 520L1039.94 490zM1091.9 -20L1117.88 -5L1117.88 25L1091.9 40L1065.92 25L1065.92 -5zM1091.9 430L1117.88 445L1117.88 475L1091.9 490L1065.92 475L1065.92 445zM1169.85 205L1195.83 220L1195.83 250L1169.85 265L1143.87 250L1143.87 220zM1169.85 295L1195.83 310L1195.83 340L1169.85 355L1143.87 340L1143.87 310zM1143.87 340L1169.85 355L1169.85 385L1143.87 400L1117.88 385L1117.88 355zM1195.83 -20L1221.81 -5L1221.81 25L1195.83 40L1169.85 25L1169.85 -5zM1221.81 115L1247.79 130L1247.79 160L1221.81 175L1195.83 160L1195.83 130zM1195.83 340L1221.81 355L1221.81 385L1195.83 400L1169.85 385L1169.85 355zM1195.83 520L1221.81 535L1221.81 565L1195.83 580L1169.85 565L1169.85 535zM1273.77 205L1299.76 220L1299.76 250L1273.77 265L1247.79 250L1247.79 220zM1247.79 250L1273.77 265L1273.77 295L1247.79 310L1221.81 295L1221.81 265zM1247.79 340L1273.77 355L1273.77 385L1247.79 400L1221.81 385L1221.81 355zM1299.76 70L1325.74 85L1325.74 115L1299.76 130L1273.77 115L1273.77 85zM1325.74 115L1351.72 130L1351.72 160L1325.74 175L1299.76 160L1299.76 130zM1325.74 205L1351.72 220L1351.72 250L1325.74 265L1299.76 250L1299.76 220zM1299.76 250L1325.74 265L1325.74 295L1299.76 310L1273.77 295L1273.77 265zM1325.74 385L1351.72 400L1351.72 430L1325.74 445L1299.76 430L1299.76 400zM1351.72 160L1377.7 175L1377.7 205L1351.72 220L1325.74 205L1325.74 175zM1351.72 250L1377.7 265L1377.7 295L1351.72 310L1325.74 295L1325.74 265zM1403.68 250L1429.66 265L1429.66 295L1403.68 310L1377.7 295L1377.7 265zM1403.68 340L1429.66 355L1429.66 385L1403.68 400L1377.7 385L1377.7 355zM1403.68 430L1429.66 445L1429.66 475L1403.68 490L1377.7 475L1377.7 445z' stroke='url(%26quot%3b%23SvgjsLinearGradient2433%26quot%3b)' stroke-width='2'%3e%3c/path%3e%3cpath d='M26.88 483.05L62.39 503.55L62.39 544.55L26.88 565.05L-8.63 544.55L-8.63 503.55zM97.9 -8.95L133.4 11.55L133.4 52.55L97.9 73.05L62.39 52.55L62.39 11.55zM133.4 52.55L168.91 73.05L168.91 114.05L133.4 134.55L97.9 114.05L97.9 73.05zM168.91 -8.95L204.42 11.55L204.42 52.55L168.91 73.05L133.4 52.55L133.4 11.55zM204.42 52.55L239.93 73.05L239.93 114.05L204.42 134.55L168.91 114.05L168.91 73.05zM168.91 237.05L204.42 257.55L204.42 298.55L168.91 319.05L133.4 298.55L133.4 257.55zM275.44 52.55L310.94 73.05L310.94 114.05L275.44 134.55L239.93 114.05L239.93 73.05zM275.44 175.55L310.94 196.05L310.94 237.05L275.44 257.55L239.93 237.05L239.93 196.05zM275.44 298.55L310.94 319.05L310.94 360.05L275.44 380.55L239.93 360.05L239.93 319.05zM275.44 544.55L310.94 565.05L310.94 606.05L275.44 626.55L239.93 606.05L239.93 565.05zM310.94 114.05L346.45 134.55L346.45 175.55L310.94 196.05L275.44 175.55L275.44 134.55zM346.45 544.55L381.96 565.05L381.96 606.05L346.45 626.55L310.94 606.05L310.94 565.05zM417.47 52.55L452.98 73.05L452.98 114.05L417.47 134.55L381.96 114.05L381.96 73.05zM417.47 544.55L452.98 565.05L452.98 606.05L417.47 626.55L381.96 606.05L381.96 565.05zM452.98 237.05L488.48 257.55L488.48 298.55L452.98 319.05L417.47 298.55L417.47 257.55zM488.48 421.55L523.99 442.05L523.99 483.05L488.48 503.55L452.98 483.05L452.98 442.05zM452.98 483.05L488.48 503.55L488.48 544.55L452.98 565.05L417.47 544.55L417.47 503.55zM523.99 360.05L559.5 380.55L559.5 421.55L523.99 442.05L488.48 421.55L488.48 380.55zM559.5 544.55L595.01 565.05L595.01 606.05L559.5 626.55L523.99 606.05L523.99 565.05zM630.52 52.55L666.02 73.05L666.02 114.05L630.52 134.55L595.01 114.05L595.01 73.05zM595.01 114.05L630.52 134.55L630.52 175.55L595.01 196.05L559.5 175.55L559.5 134.55zM630.52 298.55L666.02 319.05L666.02 360.05L630.52 380.55L595.01 360.05L595.01 319.05zM666.02 360.05L701.53 380.55L701.53 421.55L666.02 442.05L630.52 421.55L630.52 380.55zM737.04 237.05L772.55 257.55L772.55 298.55L737.04 319.05L701.53 298.55L701.53 257.55zM772.55 544.55L808.06 565.05L808.06 606.05L772.55 626.55L737.04 606.05L737.04 565.05zM808.06 114.05L843.57 134.55L843.57 175.55L808.06 196.05L772.55 175.55L772.55 134.55zM843.57 175.55L879.07 196.05L879.07 237.05L843.57 257.55L808.06 237.05L808.06 196.05zM1021.11 114.05L1056.61 134.55L1056.61 175.55L1021.11 196.05L985.6 175.55L985.6 134.55zM1056.61 421.55L1092.12 442.05L1092.12 483.05L1056.61 503.55L1021.11 483.05L1021.11 442.05zM1056.61 544.55L1092.12 565.05L1092.12 606.05L1056.61 626.55L1021.11 606.05L1021.11 565.05zM1127.63 421.55L1163.14 442.05L1163.14 483.05L1127.63 503.55L1092.12 483.05L1092.12 442.05zM1092.12 483.05L1127.63 503.55L1127.63 544.55L1092.12 565.05L1056.61 544.55L1056.61 503.55zM1198.65 175.55L1234.15 196.05L1234.15 237.05L1198.65 257.55L1163.14 237.05L1163.14 196.05zM1198.65 298.55L1234.15 319.05L1234.15 360.05L1198.65 380.55L1163.14 360.05L1163.14 319.05zM1198.65 544.55L1234.15 565.05L1234.15 606.05L1198.65 626.55L1163.14 606.05L1163.14 565.05zM1234.15 114.05L1269.66 134.55L1269.66 175.55L1234.15 196.05L1198.65 175.55L1198.65 134.55zM1269.66 421.55L1305.17 442.05L1305.17 483.05L1269.66 503.55L1234.15 483.05L1234.15 442.05zM1340.68 52.55L1376.19 73.05L1376.19 114.05L1340.68 134.55L1305.17 114.05L1305.17 73.05zM1447.2 -8.95L1482.71 11.55L1482.71 52.55L1447.2 73.05L1411.69 52.55L1411.69 11.55zM1447.2 237.05L1482.71 257.55L1482.71 298.55L1447.2 319.05L1411.69 298.55L1411.69 257.55zM1482.71 298.55L1518.22 319.05L1518.22 360.05L1482.71 380.55L1447.2 360.05L1447.2 319.05zM1447.2 483.05L1482.71 503.55L1482.71 544.55L1447.2 565.05L1411.69 544.55L1411.69 503.55zM1482.71 544.55L1518.22 565.05L1518.22 606.05L1482.71 626.55L1447.2 606.05L1447.2 565.05z' stroke='rgba(6%2c 0%2c 181%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2432'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='220.03199999999998' y1='-220.02399999999997' x2='1219.9679999999998' y2='780.024' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2433'%3e%3cstop stop-color='rgba(57%2c 62%2c 70%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(34%2c 40%2c 49%2c 0.07)' offset='0.28'%3e%3c/stop%3e%3cstop stop-color='rgba(139%2c 10%2c 204%2c 0.13)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");  
  background-size: cover;
  background-position: center;
}

.nav{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 75px;
  padding: 20px 25px;
}

.nav-link{
  margin: 0px 20px;
}

.name-text{
  font-size: 3vw;
}

.title-text{
  font-size: 1.5vw;
}

.project-box{
  border: 1px solid black;
  margin: 10px;
  width: 50vh;
  height: 50vh;
}

.projects-button{
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.project{
  background-color: var(--main-color);
}

.tech{
  background-color:#716af9;
  padding: 3px 5px;
  color: white;
}

@media(max-width: 1000px){
  .project-image, .project-desc{
    width: 85%;
    height: 50%;
    padding: 0px;
    padding-bottom: 15px;
  }

  .project{
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 767px){

  .nav{
    justify-content: center;
  }

  .landing-image{
    display: none;
  }

  .intro-div{
    width: 100%;
    font-size: 1.5rem;
  }

  .name-text{
    font-size: 2rem;
  }

  .title-text{
    font-size: 1.5rem;
  }

  .project{
    width: 90%;
  }

}
